/* Imported Google Font */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');

/* Setting the Default of Every Element */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Important Elements */

body {
    font-family: lato, sans-serif;
    font-weight: 500;
    color: #252525;
    font-size: 110%;
    margin: 0;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

hr {
    border-color: blue;
 }

/* Header, logo and Navigation */

.header-index {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.6)), url("../images/woman-at-edge-of-dock-lotus-position.jpg");
    background-position: center;
    background-size: cover;
    position: relative; 
}

.header {
    height: 100vh;
    width: 100%;
    position: relative; 
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 200px;
    animation-name: logo-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Animates our zoom effect of our logo */

@keyframes logo-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #1C2826;
    text-decoration: none;
    font-size: 13px;
    font-weight: 1000;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #DE1A1A;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* Text-Box Containing Brand/Website Information */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text-box h1 {
    font-size: 50px;
    color: #DE1A1A;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #acbed8;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: rgb(254, 42, 42);
    transition: 1s;
}

nav .fa {
    display: none;
}

/* about */


.about {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    background-color: #ACBED8
}

.about h2 {
    background-color: #4464AD;
}

.about-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.about-col img {
    width: 100%;
    display: block;
    height: 70%;
    margin: 0 auto;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layer:hover {
    background: #4463ad67;
}


/* Course */


.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    background-color: #ACBED8
}

.course h2 {
    background-color: #4464AD;
}

h1, h2 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

p {
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.course-col {
    flex-basis: 45%;
    background: #DE1A1A;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.9);
    background: #4464AD;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Testimonials */

.testimonials {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
    background-color: #ACBED8
}

.testimonials h2 {
    background-color: #4464AD;
}

.testimonial-col {
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background: #DE1A1A;
    padding: 20px;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa {
    color: #4464AD;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/* History section */


.history {
    height: fit-content;
    position: relative;
    font-weight: 1000;
    background-color: #ACBED8;
}

.history h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #DE1A1A;
    border-radius: 40px;
    color: white;
    margin: 10px 10px; 
}

.history h2 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4464AD;
    border-radius: 40px;
    color: white;
}

.history p {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.history-grid {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 15px;
    grid-auto-flow: row;
    grid-template-areas:
        ". Tantra ."
        "Mantra Yantra Yajna"
        ". Yoga ."
        "Bhaktti Raja Karma"
        ". Yama ."
        ". Niyamas ."
        ". Asana ."
        ". Pranayama ."
        ". Pratyahara ."
        ". Dharana ."
        ". Dhyana ."
        ". Samadhi ."
        ". Buddha ."
        ". Buddhism ."
        "Theravada Mahayana Vajrayana"
        ". Zen ."
        ". Mindfulness .";
}

.Tantra,
.Mantra,
.Yantra,
.Yajna,
.Bhaktti,
.Raja,
.Karma,
.Yama,
.Niyamas,
.Asana,
.Yoga,
.Pranayama,
.Pratyahara,
.Dharana,
.Dhyana,
.Samadhi,
.Buddha,
.Buddhism,
.Theravada,
.Mahayana,
.Vajrayana,
.Zen,
.Mindfulness {
    grid-area: Tantra;
    background-color: #de1a1a;
}

.Mantra {
    grid-area: Mantra;
}

.Yantra {
    grid-area: Yantra;
}

.Yajna {
    grid-area: Yajna;
}

.Yoga {
    grid-area: Yoga;
}

.Raja {
    grid-area: Raja;
}

.Bhaktti {
    grid-area: Bhaktti;
}

.Karma {
    grid-area: Karma;
}

.Yama {
    grid-area: Yama;
}

.Niyamas {
    grid-area: Niyamas;
}

.Asana {
    grid-area: Asana;
}

.Pranayama {
    grid-area: Pranayama;
}

.Pratyahara {
    grid-area: Pratyahara;
}

.Dharana {
    grid-area: Dharana;
}

.Dhyana {
    grid-area: Dhyana;
}

.Samadhi {
    grid-area: Samadhi;
}

.Buddha {
    grid-area: Buddha;
}

.Buddhism {
    grid-area: Buddhism;
}

.Theravada {
    grid-area: Theravada;
}

.Mahayana {
    grid-area: Mahayana;
}

.Vajrayana {
    grid-area: Vajrayana;
}

.Zen {
    grid-area: Zen;
}

.Mindfulness {
    grid-area: Mindfulness;
}


/* Meditation techniques page */


.techniques-section {
    height: fit-content;
    width: 100%;
    background-color: #ACBED8;
}

.techniques-grid {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-auto-flow: row;
    height: fit-content;
}

.techniques-section h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #DE1A1A;
    border-radius: 40px;
    color: white;
}

.techniques-grid h3 {
    color: white;
    background-color: #4464AD;
    border-radius: 40px;
    width: 50%;
    margin: 0 auto;
}

.techniques-grid p,
.techniques-grid h3 {
    padding: 0.5rem;
}

.cpr-meditation,
.three-part-breathing,
.inhale-six-exhale-six,
.body-scan-meditation,
.square-breathing,
.four-inhale-eight-exhale,
.walking-meditation,
.moving-meditation,
.self-inquiry-meditation,
.mindfulness-meditation,
.guided-meditation,
.mantra-meditation,
.candle-meditation,
.smile-meditation {
    background-color: #DE1A1A;
}

/* Footer */

footer {
    height: 150px;
    width: 100%;
    background-color: white;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.techniques header {
    height: 0;
}

iframe {
    width: 100vw;
    height: calc(100vw/1.77);
    margin: 0;
    padding: 0;

   }

/* Sign Up Form */

* {
    box-sizing: border-box;
    }
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Media queries */

/* For bigger screen sizes below 1500px width */
@media screen and (max-width: 1500px) {

}

/* For big screen sizes below 1245px width */
@media screen and (max-width: 1245px) {
    
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    .history-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            ". Tantra ."
            ". Mantra ." 
            ". Yantra ."
            ". Yajna ."
            ". Yoga ."
            ". Bhaktti ." 
            ". Raja ." 
            ". Karma ."
            ". Yama ."
            ". Niyamas ."
            ". Asana ."
            ". Pranayama ."
            ". Pratyahara ."
            ". Dharana ."
            ". Dhyana ."
            ". Samadhi ."
            ". Buddha ."
            ". Buddhism ."
            ". Theravada ." 
            ". Mahayana ."
            ". Vajrayana ."
            ". Zen ."
            ". Mindfulness .";
    }
}

/* For small screen sizes below 800px width */
@media screen and (max-width: 800px) {

    .nav {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    nav img {
        width: 120px;
    }

    .text-box {
        width: 92%;
    }
    
    .text-box h1 {
        font-size: 20px;
    }
    .row {
        display: block;
    }
}

/* For smaller screen sizes below 415px width */
@media screen and (max-width: 415px) {

    .about {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
    }

    .nav-links ul li {
        padding: 4px 8px;
    }
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }


