* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/man-sitting-on-bridge-over-water.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
